# ignore a single file
burgers_controller.js

# ignore an entire directory
/config/
/db/
/models/
/node-modules/
/--old-files



# ignore a file type
# *.json

# add an exception (using !) to the preceding rule to track a specific file
# !package.json