<div class="container">
	
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		
		<div id="header-container">
			<h1 class="col-lg-3 col-md-3 col-sm-4 col-xs-12 class-title-header">
			FIND A CLASS
			</h1>
			<p class="col-lg-7 col-md-7 col-sm-8 col-xs-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, nemo, quo! Non sunt dolores provident ratione odit, voluptas, harum unde inventore dolore accusamus dicta beatae soluta corporis suscipit magnam earum?</p>
		</div>
	</div>
	<div id="left-panel" class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
		{{#each classes}}
		{{> classes/classes-partial}}
		{{/each}}
	</div>
	
	</div>
</div>

