
<div class="container">
	
	<div id="row">
		<div class="header-image">			
			<img src="/assets/img/YogaLingo.jpg" alt="">
		
			</div>
	
		<div id="left-panel" class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
			<h2 class="section-header">ABOUT US</h2>
			{{description}}

		</div>

		<div id="right-panel" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<h2 class="section-header">
				ADDRESS:
			</h2>
			{{address}}
			
		</div>

	</div>
	
</div>