
<div class="container">
	
	<div id="row">
		<div class="header-image">			
			<img src="/assets/img/YogaLingo.jpg" alt="">
		
			</div>
	
		<div id="left-panel" class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
			<h2 class="section-header">About Us</h2>
			{{description}}

		</div>
		

		<div id="right-panel" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 light-custom-color-back">
			<h2 class="section-header">
				Address:
			</h2>
			{{address}}
			
		</div>

	</div>
	
</div>