
<<<<<<< HEAD
	<a href="/user/register"><button>Sign up here</button></a>
</div>
<br>
<br>
<div>
	<button id="sign-in">Sign in here</button>
</div>
<br>
<br>
<div>
	<button id="sample-modal">modal-2</button>
</div>

<div class="modal fade" id="myModal2" role="dialog">
	   <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h3 id="name">Welcom back, </h3>
	          
	        </div>
	        <div class="modal-body">
	        		 <h3 id="welcome-back"></h3>
	        </div>
	        <div class="modal-footer">
	          <button id="ok" type="button" class="btn btn-default" data-dismiss="modal">OK</button>
	        </div>
	      </div>
	      
	   </div>
</div>



<div class="modal fade" id="myModal" role="dialog">
	   <div class="modal-dialog">
	    
	      <!-- Modal content-->
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h3 id="name">Sign In</h3>
	          
	        </div>
	        <div class="modal-body">
	          <h3>Name</h3>
	          <input id="user-name" type="text" name="log-name">
	          <br>
	        	 <h3>Password</h3>
	          <input id="user-password" type="password" name="log-password">
	        </div>
	        
	        <div class="modal-footer">
	          <button id="user-login" type="button" class="btn btn-default" data-dismiss="modal">Login</button>
	        </div>
	      </div>
	      
	   </div>
</div>


<script type="text/javascript">
	$("#sign-in").on("click", function(event){
		 $('#myModal').modal('show');
	})

	$("#sample-modal").on("click", function(event){
		 $('#myModal2').modal('show');
	})	

	$("#user-login").on("click", function(){
		var userName = $("#user-name").val();
		var userPass = $("#user-password").val();
		var userDetails = {
			name: userName,
			password: userPass
		}

		console.log(userDetails)
		$.post("user/login", userDetails)
			.done(function(data){
				console.log(data)
				$("#welcome-back").html(data)
				$('#myModal2').modal('show');

			})
	})


</script>
=======
<div class="container">
	
	<div id="row">
		<div class="header-image">			
			<img src="/assets/img/YogaLingo.jpg" alt="">
		
			</div>
	
		<div id="left-panel" class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
			<h2 class="section-header">ABOUT US</h2>
			{{description}}

		</div>

		<div id="right-panel" class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<h2 class="section-header">
				ADDRESS:
			</h2>
			{{address}}
			
		</div>

	</div>
	
</div>
>>>>>>> 30542e4babf6edb53e1dc7b7da3a31a00db4d957
