

	<div class="container-fluid">
	<div class="row">
		<div id="instructor-list" >
		
			<h2 class="section-header">
				OUR STAFF

			</h2>
			{{#each instructors}}
			
			{{> instructors/instructors-partial}}

			{{/each}}
		</div>

	</div>
	</div>






{{!-- 
	<button id='"openDiv'> OPEN DIV </button>

	</div>

	<div id="add-instructor" class="hidden"> {{> instructors/add-instructors }}


	</div>

	<div class="color"></div> --}}







