

        <div class="row">
            <div class="row">
      <div class="col-md-12 col-sm-12">
        Add Instructor
      </div>
    </div>
            <div class="col-md-6 col-md-offset-3">
                <form id="cms">
                    <div class="form-group">
                        <label for="title">Instructor Name:</label>
                        <input type="text" class="form-control" id="title">
                        <br />
                        <label for="body">Instructor Bio:</label>
                        <textarea class="form-control" rows="10" id="body"></textarea>
                        <div class="form-group">
                            <label for="category">Select Category:</label>
                            <select class="form-control" id="category">
                            <option value="Yoga">Yoga</option>
                            <option value="Boxing">Boxing</option>
                            <option value="Tennis">Tennis</option>
                          </select>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-success submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
  