
 <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 inst-container">


	<div class="inst-image" style="background-image: url({{photo}})">

	

	</div>


 
 
 <div class="instructor-text">
 	<h3 class="darkCustomColor">{{fullName}}</h3>
 	<p>{{teachClass}}</p>
	
   <button class="btn btn-basic" id="instructor" data-target="#instModal{{id}}" data-toggle="modal" data-backdrop="static" data-keyboard="false">View</button>
</div>

</div>

<div>
{{> instructors/instructor-modal }}
</div>

